<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="MainConnectionString" providerName="MySql.Data.MySqlClient"
        connectionString="server=localhost;User Id=root;password=admin;persistsecurityinfo=True;database=userdataschema"/>
  </connectionStrings>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\TestProj\\UserTableLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="~/Error/Error">
    </customErrors>
  </system.web>


  <system.serviceModel>

    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="RESTfulService.AccountService">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="MyBindingConfiguration" contract="RESTfulService.IAccountService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51091/AccountService"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="RESTfulService.UserService">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="MyBindingConfiguration" contract="RESTfulService.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51091/UserService"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="MyBindingConfiguration" openTimeout="10:15:00"
                 receiveTimeout="10:15:00" sendTimeout="10:15:00"
                 bypassProxyOnLocal="true" hostNameComparisonMode="WeakWildcard"
                 maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" transferMode="StreamedRequest"
                 useDefaultWebProxy="false">

          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>

